body {
  background-color: #f4f4f4;
  padding: 1rem 5rem 2rem;
  text-align: center;
  width: 100%;
}
#header {
  display: inline-block;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
}
#nav-bar {
  width: 100%;
  display: inline-block;

  margin-bottom: 2rem;
}
h1 {
  text-align: center;
  padding-bottom: 1rem;
  font-family: sans-serif;
}
p {
  color: gray;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
}
.card {
  width: 18rem;
}
.input1 {
  border-radius: 5%;
  margin-bottom: 1rem;
}
.searachDiv {
  text-align: center;
  margin: 4rem;
}
.advanceSearchDiv {
  background-color: burlywood;
  display: none;
  width: 800px;
  height: 150px;
  align-content: center;
  margin: 2rem auto 2rem;
  padding-left: 1.5rem;
}
.logo {
  height: auto;
  width: 6rem;
  display: flex;
  margin-left: 0.6rem;
  border-radius: 10px;
}
.brand-title {
  margin: 0.5rem;
}
.navbar-links {
  height: 100%;
  margin-top: -6rem;
  align-content: center;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  margin-left: 50rem;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #101010;
  padding: 1rem;
}
.toggle-button {
  position: fixed;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #101010;
  border-radius: 10px;
  display: none;
}
@media (max-width: 930px) {
  #nav-bar {
    flex-direction: column;
    align-items: stretch;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    margin-left: 3.75rem;
    margin-left: 12rem;
    margin-top: -3rem;
  }
  .navbar-links li {
    align-content: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .toggle-button .bar {
    display: block;
  }
  .advanceSearchDiv {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    height: auto;
    align-content: center;
    margin: 12rem 5rem 5rem 5rem;
    padding-left: 1.5rem;
  }
}
@media (max-width: 550px) {
  .logo {
    width: 2.1rem;
  }
}
.mostSearchedDiv {
  padding: 3rem;
}
.bestDealsDiv {
  padding: 3rem;
}
.draggable.dragging {
  opacity: 0.5;
}
